<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-<%= category.name %>">

  <div class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapse-<%= category.name %>" aria-expanded="false" aria-controls="collapse-<%= category.name %>">
      <h4 class="panel-title">
        <%= category.name.capitalize %>
        <i class="material-icons pull-right">expand_more</i>
      </h4>

    </div>
  </div>
  <div id="collapse-<%= category.name %>" class="panel-collapse collapse<%= ' in' if first %>" role="tabpanel" aria-labelledby="headingTwo">
    <div class="panel-body">
      <ul class="list-group">
        <% drinks.each do |drink| %>

        <%= render "drink_list_dropdown", drink: drink, show_plus: "" %>
        <% end %>
      </ul>

    </div>
  </div>
</div>
