<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-<%= category.name %>">

    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= category.name %>" aria-expanded="false" aria-controls="collapse-<%= category.name %>">
      <h4 class="panel-title">
        <%= category.name %>
        <i class="material-icons pull-right">expand_more</i>
      </h4>

    </a>
  </div>
  <div id="collapse-<%= category.name %>" class="panel-collapse collapse<%= ' in' if first %>" role="tabpanel" aria-labelledby="headingTwo">
    <div class="panel-body">
      <table class="table table-striped">
        <% drinks.each do |drink| %>
          <%= render "drink_list_dropdown", drink: drink %>
        <% end %>
      </table>
    </div>
  </div>
</div>
