<tr>
  <td><%= drink.name %> <small><%= drink.size %></small></td>
  <% order_line = current_user.current_order.order_lines.find_by(drink: drink) %>
  <td>
  <div class="btn-group pull-right" role="group">
    <% if order_line %>
        <%= link_to bar_order_order_lines_path(@bar, current_user.current_order, drink_id: order_line.drink.id, remove: true), method: :post, class: "btn btn-default" do %>
        -
        <% end %>
      <div type="button" class="btn btn-default">
        <%= order_line.quantity %>
      </div>
    <% end %>
      <%= link_to bar_order_order_lines_path(@bar, current_user.current_order, drink_id: drink.id), method: :post, class: "btn btn-default" do %>
       +
      <% end %>
    </div>
  </td>
</tr>

