<li class="list-group-item" id="order_line_show<%= drink.id%>">
  <div class="row vertical-align">
    <div class="col-xs-10">
      <!-- name of the drink -->
      <div class="col-xs-12 col-sm-9">
        <h5><%= drink.name %></h5>
      </div>
      <!-- price and quantity -->
      <div class="col-xs-12 col-sm-3">
        <div class="label label-primary"><%= humanized_money_with_symbol(drink.price) %></div>
        <div class="label label-default"><%= drink.size %></div>
      </div>
    </div>
    <!-- button for options -->
    <div class="col-xs-2">
      <% order_line = current_user.current_order_per_bar(@bar).order_lines.find_by(drink: drink) %>
      <% if order_line %>
        <div data-toggle="collapse" data-target="#dink-<%= drink.id %>" class="btn btn-default pull-right">
          <%= order_line.quantity %>
        </div>
      <% else %>
        <%= link_to bar_order_order_lines_path(@bar, current_user.current_order_per_bar(@bar), drink_id: drink.id), method: :post, remote: true, class: "btn btn-default pull-right" do %>
          +
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- collapse content |REMOVE|ADD| -->
  <div id="dink-<%= drink.id %>" class="collapse <%= show_plus %>">
    <div class="btn-group btn-group-justified">
      <%= link_to bar_order_order_lines_path(@bar, current_user.current_order_per_bar(@bar), drink_id: drink.id, remove: true), method: :post, remote: true, class: "btn btn-default" do %>
      -
      <% end %>
      <%= link_to bar_order_order_lines_path(@bar, current_user.current_order_per_bar(@bar), drink_id: drink.id), method: :post, remote: true, class: "btn btn-default" do %>
      +
      <% end %>
    </div>

  </div>
</li>
