<% content_for :navbar do %>
<%= render 'shared/navbar_barname' %>
<% end %>

<div class="container">
  <div class="row">

    <h1 class="text-center">My Orders overview</h1>


    <% current_user.orders.order(updated_at: :desc).each do |order| %>
    <% if order.confirmed == true %>

     <%= link_to bar_order_path(@bar, order) do %>
     <div class="col-xs-12 col-md-6">
      <div class="bar-card" style="padding-left: 10px;">
        <div class="row">
            <div class="bar-content">

          <p>Order number <%= order.id %></p>
          <p>Total: <%= order.amount %> €</p>
          <p>Order state: paid at <%= order.updated_at.in_time_zone(1).to_time  %></p>
        </div>
        </div>
        </div>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>




