<div class="container-fluid push-bottom" >
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
      <div class="page-header">
        <h1 class="text-center">Order overview <small><%= @bar.name %></small></h1>
      </div>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Drink name</th>
            <th>Size</th>
            <th class="text-center">Quantity</th>
            <th>price</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_lines.each do |line| %>
          <tr>
            <td><%= line.drink.name %></td>
            <td><%= line.drink.size %></td>
            <td class="text-center">
              <div class="btn-group" role="group">
                <%= link_to "-", bar_order_order_lines_path(@bar, current_user.current_order, drink_id: line.drink.id, remove: true, order: "order"), method: :post, class: "btn btn-default" %>
                <div type="button" class="btn btn-default">
                  <%= line.quantity %>
                </div>
                <%= link_to "+", bar_order_order_lines_path(@bar, current_user.current_order, drink_id: line.drink.id, order: "order"), method: :post, class: "btn btn-default"%>
              </div>
            </td>
            <td><%= line.drink.price * line.quantity %> €</td>
          </tr>
          <% end %>
          <tr class="danger">
            <td>TOTAL :</td>
            <td></td>
            <td class="text-center"><%= pluralize(@order.number_of_items_per_order, "Item") %></td>
            <td><%= @order.total_order %> €</td>
          </tr>
        </tbody>
      </table>

      <div class="button-bar">
        <p>Pick up at the bar</p>
      </div>

      <%= simple_form_for [@bar, @order] do |f| %>


      <% unless @bar.number_of_tables.nil? %>
        <div class="button-delivery">
          <div>
            <%= f.input :table_number, input_html: { min: "0", step: "1", max: @bar.number_of_tables }, label: "Or choose your table number" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div>
  <%= f.submit "Pay your order!", class: "form-control button-to-pay" %>
</div>
<% end %>
