<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
      <div class="page-header">
        <h1 class="text-center">Order overview <small><%= @bar.name %></small></h1>
      </div>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Drink name</th>
            <th>Remove</th>
            <th>Quantity</th>
            <th>Add</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_lines.each do |line| %>
          <tr>
            <td><%= line.drink.name %></td>
            <td><%= link_to bar_order_order_lines_path(@bar, current_user.current_order, drink_id: line.drink.id, remove: true, order: "order"), method: :post do %>
              <i class="material-icons">keyboard_arrow_down</i>
              <% end %>
            </td>
            <td><%= line.quantity %></td>
            <td><%= link_to bar_order_order_lines_path(@bar, current_user.current_order, drink_id: line.drink.id, order: "order"), method: :post do %>
              <i class="material-icons">keyboard_arrow_up</i>
              <% end %>
            </td>
          </tr>
          <% end %>
          <tr class="danger">
            <td>TOTAL: <%= @order.total_order %> €</td>

            <td></td>
            <td><%= pluralize(@order.number_of_items_per_order, "Item") %></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <%= simple_form_for [@bar, @order] do |f| %>

      <div class="button-delivery">
        <div>Choose delivery: </div>
        <div>
          <%= f.select :table_number, options_for_select(@bar.number_of_tables.times.to_a.map(&:succ)), {prompt: "Pick at the bar or..."}, class: "dropdown" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <%= f.submit "Pay your order!", class: "form-control button-to-pay" %>
</div>
<% end %>
