<!DOCTYPE html>
<html>
<head>
  <title>MenuX</title>
  <meta name="description" content="Don't waste your time waiting at the bar or trying to get the attention of a waiter. Order directly from your phone on MenuX.">
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= favicon_link_tag 'menuX-sign.png' %>

</head>
<body>
  <% if content_for?(:navbar) %>
    <%= yield(:navbar) %>
  <% else %>
    <%= render 'shared/navbar' %>
  <% end %>
  <%= render 'shared/flashes' %>
  <%= yield %>
  <%= javascript_include_tag 'application' %>
  <%= yield(:after_js) %>
</body>
</html>
